{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'apponline/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'apponline/css/styles.css' %}" rel="stylesheet" />

        {% block style_block %}
        {% endblock style_block %}

    </head>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-white bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">♛𝗜𝗡𝗜𝗖𝗜𝗢</a>
                <a class="navbar-brand" href="{% url 'nosotros' %}">▶Nosotros◀</a>
                <a class="navbar-brand" href="{% url 'carteras' %}">♛Carteras</a>
                <a class="navbar-brand" href="{% url 'zapatos' %}">♛Zapatos</a>
                <a class="navbar-brand" href="{% url 'camperas' %}">♛Camperas</a>
                <a class="navbar-brand" href="{% url 'accesorios' %}">♛Accesorios</a>
                {% if user.is_authenticated %}

                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.avatar.imagen.url }}" width="50px" height="50px" alt="Avatar" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar datos</a></li>
                      <li><a class="dropdown-item" href="{% url 'agregar_avatar' %}">Agregar Avatar</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" style="color: red" href="{% url 'logout' %}">Cerrar sesion</a></li>
                    </ul>
                  </div>
                {% else %}
                <a class="btn btn-primary" href="{% url 'register' %}">Registrarse</a>
                {% endif %}
            </div>
        </nav>

        <section style="padding:80px;">
            {% if mensaje %}
            <span style="background-color: orange;">{{mensaje}}</span>
            {% endif%}
            {% block contenido_base %}
            {% endblock contenido_base %}
        </section>


        <!-- Footer-->
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'inicio' %}">Detalles</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/nosotros/">Nosotros</a></li>
                        </ul>
                        <div class="small m-0 text-white"> ©CoderHouse2022 - Genesoni/Qin/Aguirre </div>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.pinterest.es/pin/8796161763794221/"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href=https://twitter.com/gucci><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=https://www.instagram.com/trucha.moda/?hl=es-la/><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'apponline/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    </body>
</html>
